<a href="<%= root_path %>"><%= image_tag '/assets/logo/flat.png', :class => 'brand' %></a>
<%= link_to 'PoliticaMe', root_path, :class => 'brand' %>

<ul class="nav">
  <li>
    <%= link_to 'Proposições', url_for(:controller => '/proposicao', :action => 'index') %>
  </li>
  <li>
    <%= link_to 'Ranking', url_for(:controller => '/ranking', :action => 'show') %>
  </li>
  <li>
    <%= link_to 'Deputados', url_for(:controller => '/deputados', :action => 'index') %>
  </li>
  <li>
    <%= link_to 'Como funciona?', url_for(:controller => '/videos', :action => 'index') %>
  </li>
</ul>

<ul class="nav pull-right">
  <% if user_signed_in? %>
  <li>
    <%= link_to('editar conta', edit_user_registration_path) %>
  </li>
  <li>
    <%= link_to('sair', destroy_user_session_path, :method=>'delete') %>
  </li>
  <% else %>
  <li>
    <%= link_to('entrar', new_user_session_path)  %>
  </li>
  <li>
    <div>
      <%= link_to('registrar', new_user_registration_path, :class => 'btn btn-primary')  %>
    </div>
  </li>
  <% end %>
</ul>
