<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'PoliticaMe' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Politica.Me' %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/google_analytics' if ENV['RAILS_ENV'].eql?('production') and !controller.controller_name.eql?('importacao_dados') %>
    <%= render 'layouts/userreport' if !controller.controller_name.eql?('importacao_dados') %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
          </div>
          <footer><%= render 'layouts/footer' %></footer>
        </div>
      </div>
    </main>
  </body>
</html>