<% content_for :content do %>
<div class="container-narrow">
  <div class="<%= yield :page_class %>">

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="<%= 'active' if controller.action_name.eql? 'index' %>">
          <%= link_to 'Inicial', root_path, :class => 'brand' %>
        </li>
        <li class="<%= 'active' if controller.action_name.eql? 'about' %>">
          <%= link_to 'O projeto', url_for(:action => 'about'), :class => 'brand' %>
        </li>
        <li>
          <%= mail_to 'cassio.paixao@gmail.com', 'Contato', :class => 'brand' %>
        </li>
      </ul>
      <h3 class="muted">Politic@Me</h3>
    </div>

    <hr>

    <%= yield %>

    <hr>
    <div class="footer">
      <p>
        &copy; Politic@Me 2013
      </p>
    </div>

  </div>

</div>
<% end %>
<%= render :template => "layouts/application" %>