<% @ranking ||= [] %>
<script type="text/javascript">
    $(document).ready($(function() {
  $(".pagination-holder").pagination({
  items: <%= @ranking.size %>
    , itemsOnPage: 10,
    cssStyle: 'bootstrap',
    prevText: '&laquo;',
    nextText: '&raquo;',
    edges: 1,
    onPageClick: function(pageNumber, event) {
      $(".pagination-content tr.content").hide();
      $(".pagination-content tr.content").slice(this.itemsOnPage * (pageNumber - 1), this.itemsOnPage * pageNumber).fadeIn();
    }, onInit: function() {
      $(".pagination-holder").pagination('selectPage', 1);
    },
    });
    })
    );
</script>

<h1>Ranking</h1>
<p class="lead">
  Confira os políticos que votam de maneira mais semelhante à sua.
</p>

<% if @ranking.empty? %>
<p>
  É necessário votar em pelo menos uma proposta para visualizar seu ranking personalizado. <a href="<%= url_for :controller => 'proposicao', :action => 'index' %>">Clique aqui para começar!</a>
</p>
<% else %>
<table class="pagination-content table-condensed">
  <tr class="header">
    <th>#</th>
    <th>Deputado</th>
    <th>Similaridade</th>
  </tr>
  <% ranking = 0 %>
  <% @ranking.each do |rank| %>
  <tr class="content">
    <td><%= ranking += 1 %></td>
    <td><%= "#{rank[:nome]}, #{rank[:partido]}, #{rank[:uf]}" %></td>
    <td>
    <div class="progress progress-striped">
      <div class="bar" style="width: <%= ((rank[:rank] - @min_rank) / @range.to_f * 100) %>%;"></div>
    </div></td>
  </tr>
  <% end %>
</table>

<div class="clearfix">
  <div class="pagination-holder pagination pull-right">
    <div id="compact-pagination"></div>
  </div>
</div>
<% end %>
