<tr>
  <td><%= "#{p.tipo} #{p.numero}/#{p.ano}"%></td>
  <td><%= p.data_apresentacao.strftime('%d/%m/%Y') %></td>
  <td><%= p.autor_nome %></td>
  <td><%= p.ementa %></td>
  <td><%= p.ementa_explicacao %></td>
  <% if defined? show_fetch_votacoes and show_fetch_votacoes %>
  <td> <%= check_box_tag 'proposicao_id[]', p.id, false %> <small><%= link_to 'baixar votações', :controller => 'importacao_dados', :action => 'fetch_votacoes_get', :tipo => p.tipo, :numero => p.numero, :ano => p.ano %></small></td>
  <% end %>
  <% if defined? show_errors and show_errors %>
  <td><%= p.errors.messages.values.join(', ') %></td>
  <% end %>
</tr>
