<% @requisicoes ||= [] %>
<% @proposicoes ||= [] %>
<% @duplicadas ||= [] %>
<% @erros_gerais ||= [] %>

<% if !@requisicao.nil? %>
<h1>Requisição realizada</h1>
<%= render :partial => 'show_data_request', :locals => {:data_request => @requisicao }%>
<% end %>

<h1>Proposições</h1>
<ul>
  <li>
    <strong>Adicionadas: </strong>
    <%= @proposicoes.size - @duplicadas.size - @erros_gerais.size %>
  </li>
  <li>
    <strong>Duplicadas: </strong>
    <%= @duplicadas.size %>
  </li>
  <li>
    <strong>Erros: </strong>
    <%= @erros_gerais.size %>
  </li>
</ul>

<table class='table table-striped table-condensed'>
  <tr>
    <th>tipo numero/ano</th>
    <th>data_apresentacao</th>
    <th>autor_nome</th>
    <th>ementa</th>
    <th>ementa_explicacao</th>
    <th>erro</th>
  </tr>
  <% @proposicoes.each do |proposicao| %>
  <%= render :partial => 'show_proposicao_tr', :locals => {:p => proposicao, :show_errors => true} %>
  <% end %>
</table>

