<script>
  $(function() {
    $( "#tabs" ).tabs();

    // fix the classes
    $( ".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *" )
      .removeClass( "ui-corner-all ui-corner-top" );

    $( ".tabs-bottom" )
      .removeClass( "ui-corner-all ui-corner-top" );

  });
</script>
<style>
.ui-tabs-nav {
  border: none;
  border-bottom: solid gray thin;
  background: none;
}
.tabs-bottom {
  border: none;
}
</style>

<table width="400px" border="0" cellpadding="3">
	<tr>
		<td>
			<table width="100%" cellpadding="0" cellspacing="0">
            <tr><td align="center">

                <%
                  if @proposicoes_relevancia_voted.nil? and @user_signedin
                %>
                  <a href="<%= url_for :controller => 'proposicao', :action => 'register_relevance', :tipo => @proposicao.tipo, :numero => @proposicao.numero, :ano => @proposicao.ano, :relevancia => '1' %>"><img src="/assets/up.png"/></a>
                <%
                  elsif @proposicoes_relevancia_voted == 1
                %>
                 <img src="/assets/up_voted.png"/>
                <%
                  else
                %>
                <img src="/assets/up.png"/>
                <%
                  end
                %>
              </a> </td></tr>
            <tr><td align="center"> <h3><%= @proposicoes_relevancia %> </h3> </td></tr>
            <tr><td align="center">


                 <%
                  if @proposicoes_relevancia_voted.nil? and @user_signedin
                %>
                  <a href="<%= url_for :controller => 'proposicao', :action => 'register_relevance', :tipo => @proposicao.tipo, :numero => @proposicao.numero, :ano => @proposicao.ano, :relevancia => '0' %>"><img src="/assets/down.png"/></a>
                <%
                  elsif @proposicoes_relevancia_voted == 0
                %>
                 <img src="/assets/down_voted.png"/>
                <%
                  else
                %>
                <img src="/assets/down.png"/>
                <%
                  end
                %>

              </td></tr>
          </table>
      </td>

      <td><h1><%= @proposicao.to_s %></h1></td>
  </tr>
</table>

<br/><br/>
<p>
  <small>Autor: <%= "#{@proposicao.autor_nome}, #{@proposicao.autor_partido}, #{@proposicao.autor_uf}" %></small>
</p>
<p>
  <small>Data de apresentação: <%= "#{@proposicao.data_apresentacao.strftime("%d/%m/%Y")}" %></small>
</p>

<div id="tabs" class="tabs-bottom">
  <ul>
    <% @proposicao.contribuicaos.each do |contribuicao| %>
      <li><a href="#contr-<%= contribuicao.id %>"><%= contribuicao.rotulo %></a></li>
    <% end %>
    <li><a href="#oficial">Redação oficial</a></li>
  </ul>
  <div class="tabs-spacer"></div>
  <% @proposicao.contribuicaos.each do |contribuicao| %>
    <div id="contr-<%= contribuicao.id %>">
      <%= raw contribuicao.conteudo %>
      <p class="text-right">
        <small>Contribuição: <%= link_to contribuicao.autor, contribuicao.fonte, target: '_blank' %></small>
      </p>
    </div>
  <% end %>
  <div id="oficial">
    <p>
      <strong>Ementa</strong>
    </p>
    <p>
      <%= @proposicao.ementa %>
    </p>

    <p>
      <strong>Explicação</strong>
    </p>
    <p>
      <%= @proposicao.ementa_explicacao %>
    </p>
  </div>
</div>


<div class="row text-center">
    <a href="<%= url_for :controller => 'proposicao', :action => 'register_vote', :tipo => @proposicao.tipo, :numero => @proposicao.numero, :ano => @proposicao.ano, :vote => 'Sim' %>" class="btn btn-large btn-success"><strong><i class="icon-ok icon-large icon-white"></i> Favor</strong></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="<%= url_for :controller => 'proposicao', :action => 'register_vote', :tipo => @proposicao.tipo, :numero => @proposicao.numero, :ano => @proposicao.ano, :vote => 'Não' %>" class="btn btn-large btn-danger"><strong><i class="icon-remove icon-large icon-white"></i> Contra</strong></a>
</div>

<br/><br/>

<script type="text/javascript">
    var disqus_shortname = 'politicame';
    var disqus_identifier = '<%= @proposicao.to_s %>';
    var disqus_title = '<%= @proposicao.to_s %>';
    var disqus_config = function () {
      this.language = "pt_BR";
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<div id="disqus_thread"></div>
