
<h1>Deputados</h1>

</br>

<table class='table table-striped table-condensed'>
  <tr>
    <th>nome</th>
    <th>uf</th>
    <th>partido</th>
    <th>condicao</th>
    <th>email</th>
    <th>telefone</th>
  </tr>
  <% @deputados.each do |d| %>
	<tr>
	  <td><%= d.nome %></td>
	  <td><%= d.uf %></td>
  	  <td><%= d.partido %></td>
  	  <td><%= d.condicao %></td>
  	  <td><%= d.email %></td>
  	  <td><%= d.telefone %></td>
   </tr>
  <% end %>
</table>

<div class="clearfix">
  <div class="pull-right">
    <%= paginate @deputados %>
  </div>
</div>