
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script type="text/javascript">

  var news;

  var chartDataSource = [
    { category: "A favor", value: <%= @count_afavor %> },
    { category: "Contra", value: <%= @count_contra %> },
    { category: "Abstenção", value: <%= @count_abstencao %> },
    { category: "Obstrução", value: <%= @count_obstrucao %> },
  ];

  function newsLoaded() {

    html = "<table class='table table-striped table-condensed'>";
    if (news.results && news.results.length > 0) {
      for (var i = 0; i < news.results.length; i++) {
        html += "<tr>";
        html += "<td><a href=\"" + news.results[i].unescapedUrl + "\">" + news.results[i].title + "</a></td>";
        html += "<td>" + news.results[i].publisher + "</td>";
        html += "<td>" + news.results[i].publishedDate.toString("dd/MM/yyyy") + "</td>";
        html += "</tr>";
      }
    }

    html += "</table>"
    $("#content").html(html);
  }

  function googleLoaded() {
    news = new google.search.NewsSearch();
    news.setSearchCompleteCallback(this, newsLoaded, null);
    news.execute("deputado \"<%= @deputado.nome %>\"");
    //google.search.Search.getBranding('branding');
  }

  $(function () {

    google.load("search", "1", {"callback": googleLoaded});

    $("#graficoDeputado").dxPieChart(
    {
      dataSource: chartDataSource,
      series: {
        argumentField: "category",
        valueField: "value"
      },

      tooltip: {
        enabled: true,
        percentPrecision: 2,
        customizeText: function (value) {
          return value.percentText
        }
      },

      legend: {
        horizontalAlignment: "right",
        verticalAlignment: "top"
      },

    }
    );
  })
</script>

<div class="deputado-info">
  <div class="deputado-picture span3"><img src="<%= "http://www.camara.gov.br/internet/deputado/bandep/#{@deputado.id_camara}.jpg" %>" title="<%= @deputado.nome %>"/></div>
  <div class="deputado-data span8">
    <h2> <%= @deputado.nome %></h1>
    <h3> Partido: <%= @deputado.partido %></h3>
    <h3> UF: <%= @deputado.uf %></h3>
  </div>
</div>
<div>

</div>

<% @votos_dep.each do |v| %>
	<div id="modal<%= v.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<h3><%= v.votacao.proposicao.to_s %></h3>
		</div>
		<div class="modal-body">
			<p>Autor: <%= v.votacao.proposicao.autor_nome %> / <%= v.votacao.proposicao.autor_uf %></p>
			<p>Partido: <%= v.votacao.proposicao.autor_partido %></p>
			<p>Ementa: <%= v.votacao.proposicao.ementa %></p>
			<p> <%= v.votacao.proposicao.ementa_explicacao %></p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
		</div>
	</div>
<% end %>

<table class='table table-striped table-condensed votacao-deputado'>
  <tr>
    <th>Votação</th>
    <th>A favor</th>
    <th>Contra</th>
    <th>Abstenção</th>
    <th>Obstrução</th>

  </tr>
  <% @votos_dep.each do |v| %>
	<tr>
  	  <td><a href="#modal<%= v.id %>" data-toggle="modal"><%= v.votacao.proposicao.to_s %></a></td>
  	  <td>
        <% if @hash_votos_user[v.id] == 2 then %> <img src="/assets/user.png"/> <% end %>
        <% if v.voto == 2 then %> <img src="/assets/ok.png"/><% end %>
      </td>
  	  <td>
        <% if @hash_votos_user[v.id] == -2 then %> <img src="/assets/user.png"/> <% end %>
        <% if v.voto == -2 then %><img src="/assets/fail.png"/> <% end %>
      </td>
  	  <td><p class="text-warning"><%= "-" if v.voto == -1 %></p></td>
  	  <td><p class="text-muted"><%= "-" if v.voto == 0 %></p></td>
   </tr>
  <% end %>

	<tr>
  	  <td>Número de PLS: <%= @count_pls %></td>
  	  <td><%= @count_afavor %></td>
  	  <td><%= @count_contra %></td>
  	  <td><%= @count_abstencao %></td>
  	  <td><%= @count_obstrucao %></td>
   </tr>

</table>
<div align="right">Legenda: <img src="/assets/user.png"/> - voto do usuário</div>

<br/><br/>

<div class="span5">
<h2> Visualização </h2>

    <body>
      <div id="graficoDeputado" style="max-width:700px;height: 300px;"></div>
    </body>
</div>

<div class="span6">

<% if !@twitter.nil? then %>

  <h2> Redes sociais </h2>

    <a class="twitter-timeline"  href="<%= @twitter.address %>"  data-aria-polite="assertive"  data-screen-name="<%= @twitter_username %>" data-widget-id="395548351325679616">Tweets de <%= @twitter_username %></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<% end %>

  </div>

<div class="span12">
<h2> Notícias </h2>

    <div id="content">Loading...</div>
    <div id="branding"  style="float: left;">Powered by Google News</div><br />
</div>