<h2>Entrar</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div>
  <%= f.label :email, 'E-mail' %>
  <%= f.email_field :email, :autofocus => true %>
</div>

<div>
  <%= f.label :password, 'Senha' %>
  <%= f.password_field :password %>
</div>

<% if devise_mapping.rememberable? -%>
<div>
  <label for="user_remember_me" class="checkbox"><%= f.check_box :remember_me %> Lembrar acesso</label>
</div>
<% end -%>

<div>
  <%= f.submit "Entrar", :class => 'btn btn-primary' %>
</div>
<% end %>

<%= render "users/shared/links" %>
